
html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

nav {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
  p {
    justify-self: center;
    text-transform: uppercase;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  justify-self: end;
}

.border {
  border: 1px solid black;
  padding: 1rem 2rem;
}
